# Kernel configuration for Amlogic S905W2/S905Y4 X88 Pro
CONFIG_ARM64=y
CONFIG_ARCH_MESON=y
CONFIG_MESON_S4=y
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_IPV6=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_STORAGE=y
CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_PLTFM=y
CONFIG_MMC_MESON_GX=y
CONFIG_DRM_MESON=y
CONFIG_MESON_CANVAS=y
CONFIG_MESON_IR=y
CONFIG_INPUT_EVDEV=y
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_MESON_SOC=y
CONFIG_BT=y
CONFIG_BT_HCIBTUSB=y
CONFIG_WLAN=y
CONFIG_RT2X00=y
CONFIG_RT2800USB=y
CONFIG_THERMAL=y
CONFIG_CPU_THERMAL=y
CONFIG_MESON_THERMAL=y
CONFIG_CRYPTO_DEV_MESON=y
CONFIG_AMLOGIC_CPU_INFO=y
CONFIG_AMLOGIC_DDR_BANDWIDTH=y
CONFIG_AMLOGIC_DMC_MONITOR=y
